extends ../../node_modules/pug-bootstrap/_bootstrap


append styles
  // Custom styles for this template
  link(href='pb-css/signin.css', rel='stylesheet')
block body
  .container
  
    
  form(method='POST' action='/login').form-signin
    h2.form-signin-heading Login
    div.form-group
        label.sr-only(for='username') Username
        input.form-control(type='text' id='username' placeholder='Username' name='username')
    div.form-group
        label.sr-only(for='password') Password
        input.form-control(type='password' id='password' placeholder='password' name='password')

    if errors
      +alert-i-danger(errors)


    button.btn.btn-lg.btn-primary.btn-block(type='submit') Log in 
